.size{
    width: 95%;
    margin: 0 auto;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 8px #000;
    padding-left:5px ;
}
@media (min-width: 550px) { 
    .size{
        width: 85%;
    }
}
@media (min-width: 750px) { 
    .size{
        width: 18%;
        margin: 2px;
        height: 35px;
        font-size: 20px;
    }
}